.line{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border:1px solid black;
  width:100px;
  height:75vh;
  top:5vh;
  border-radius: 15px;
}

.ln1{
  left: 90px;
}
.ln2{
  right:90px;
}

.line div{
  background:#ddd;
  width:50px;
  border-radius: 25px;
  height: 50px;
}

.buttons{
  position: fixed;
  display: flex;
  height: auto;
  width:40vw;
  left:30vw;
  bottom: 50px;
  justify-content: space-between;

}
.btn{
  padding:7px;
  border-radius:7px;
  height: auto;
  height: 70px;
  line-height: 70px;
  transition: 1s;
}
.btn:hover{
  background: #6aa86a;
  color:white;
  transition: 1s;
}
